snippet graph "Graph" !b
digraph ${1:G} {
${2:graph [size="20,35",ratio=compress,rankdir=LR];}
$0
}
endsnippet

snippet color "Filled node with color" w
[style="${2:filled}", color="${1:[red | yellow | yellowgreen | etc.]}"];
endsnippet

snippet dot "Make edge dotted"
[style="dotted"];
endsnippet

snippet label "[label=...];" w
[label="${1}"];$0
endsnippet
