snippet template "{{ ... }}" w
{{ ${1} }}$0
endsnippet

snippet function "{% ... %}" w
{% ${1} %}$0
endsnippet

snippet tab "Simple Table | Remark" 
${1:Collumn1} | ${3:Remark}
---- | ----
${2}
endsnippet

snippet hi "Code Block" 
{% highlight ${1:Language} %}
${2}
{% endhighlight %}
endsnippet

snippet for "For loop" !b
{% for ${1:ITER} in ${2:LIST} %}
${3}
{% endfor %}
endsnippet

snippet inc "{% include XXX.html %}" !b
{% include ${1}.html %}$0
endsnippet
