snippet head "Python head" !b
#!/usr/bin/env python${2:2.7}
# -*- coding: utf-8 -*-
# Filename      : `!p snip.rv = fn`
# Author        : Yang Leo (JeremyRobturtle@gmail.com)
# Last Modified : `!v strftime("%Y-%m-%d")`
'''${1:Doc string}
'''
$0
endsnippet

snippet main "Python script main" !b
def main():
    '''Main process'''
    $0

if __name__ == '__main__':
    main()
endsnippet
