snippet section "New section" 
""""""""""""""""""""""""""
" ${1:Section}
""""""""""""""""""""""""""
${2}
""""""""""""""""""""""""""
" End of ${1/([A-Za-z0-9_ ]+).*/$1/}
""""""""""""""""""""""""""
endsnippet
