snippet section "# Section" !b
########################################################################
# ${1:Section}

$2

# End of $1
########################################################################
$0
endsnippet
