##################
# Time generator #
##################
snippet dat "Current date" w
`!v strftime("%Y-%m-%d")`
endsnippet

snippet tim "Current time" w
`!v strftime("%H:%M:%S")`
endsnippet

snippet dt "Current date and time" w
`!v strftime("%Y-%m-%d %H:%M:%S")`
endsnippet
