##################
# Time generator #
##################
snippet dat "Current date"
`!v strftime("%Y-%m-%d")`
endsnippet

snippet tim "Current time"
`!v strftime("%H:%M:%S")`
endsnippet

snippet dt "Current date and time"
`!v strftime("%Y-%m-%d %H:%M:%S")`
endsnippet
